/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway&display=swap%27');

body{
  font-family: 'Raleway', sans-serif;
}
.main-heading{
  font-family: 'Major Mono Display', monospace;
  
}

/*home page*/
.imageLanding {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.home-page-img{
  margin-top: 8em;
}

.home-page-heading{
  margin-top: 18em;
  margin-right: 5em;
}

.main-heading{
  color: white;
}

.home-page-button{
  width: 10em;
  height: 3em;
}

.home-page-buttons{
  margin-top: 1.5em;
}

.nav-button{
  width: 8em;
}

.about-content{
  margin-left: 2em;
  margin-right: 2em;
}

.community-page-heading{
  text-align: center;
  
}

.post-style{
  text-align: center;
}

.community-page-text{
  color: white;
}